@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(233, 47%, 7%);
  color: white;
  font-size: 15px;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Lexend Deca", sans-serif;
  font-size: 2.5rem;
}

h1 span {
  color: hsl(277, 64%, 61%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", sans-serif;
  line-height: 25px;
  margin-bottom: 5vw;
}

.grid-container {
  height: 60vh;
  width: 75vw;

  display: grid;
  grid-template-areas: "content stock";

  grid-template-columns: 1fr 1fr;
}

.grid-item1 {
  grid-area: content;
  padding: 5vw;
  background-color: hsl(244, 38%, 16%);
}
.grid-item2 {
  grid-area: stock;
  background: url("./images/image-header-desktop.jpg") hsl(277, 64%, 61%);
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}
.grid-item1 h1 {
  /*margin-top: -20px;
  margin-bottom: 20px;*/
}

.grid-item1 div {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  justify-content: space-between;
}
.grid-item1 div div {
  flex-direction: column;
}
.grid-item1 div div div {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-family: "Lexend Deca", sans-serif;
}

@media screen and (max-width: 901px) {
  .grid-container {
    height: 90vh;
    width: 75vw;

    display: grid;
    grid-template-areas: "stock stock" "content content";
    grid-template-rows: 40vh 50vh;
  }
  .grid-item1 {
    text-align: center;
    padding: 2vw;
  }
  .grid-item1 div {
    justify-content: space-around;
  }
  p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Inter", sans-serif;
    line-height: 25px;
    margin-bottom: 5vw;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow: auto;
    height: auto;
    padding-bottom: 20vh;
  }

  h1 {
    font-size: 2rem;
  }
  .grid-container {
    height: 100vh;
    margin: 16vh 0 0;

    display: grid;
    grid-template-areas: "stock" "content";
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
  }
  .grid-item1 {
    padding: 45px 21px;
    height: 70vh;
  }
  .grid-item2 {
    grid-area: stock;
    background: url("./images/image-header-mobile.jpg") hsl(277, 64%, 61%);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    height: 25vh;
  }
  .grid-item1 div {
    flex-direction: column;
  }
  .grid-item1 div div {
    padding-bottom: 10px;
  }
}
