@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 96%);
    background-size: contain;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.box{
height:75%;
width: 450px;
box-shadow: 10px 10px 5px #aaaaaa;
border-radius: 25px;
background-color: white;
}

.img img{
    width: 100%;
    height: auto;
}

h1{
    font-size: 27px;
}

a:link {
    color: hsl(224, 23%, 55%);
  
  }
  

.content{
    padding:20px 40px 0;
}

.content .caption{
    text-align: center;
    padding: 2px 25px 28px;
    line-height: 25px;
    color: grey;
}

img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}


.plan{
    display: flex;
    background-color: hsl(225, 100%, 98%);
    margin-bottom: 30px;
    border-radius: 10px;
    padding:20px 0;
}

.plan :nth-child(1),.plan :nth-child(2){
    width: 50%;
}

.plan :nth-child(1){
    display: flex;
}
.plan :nth-child(1) :nth-child(1){
    
    justify-content: center;
    align-items: center;
}

.plan :nth-child(1) :nth-child(2){
    display: flex;
    flex-direction: column;
    width: 70%;
}

.plan :nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.content h1{text-align: center;}

.btn1 button,.btn2 button{width: 100%;height: 40px;
    border-radius: 7px;border: none;font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;}

.btn1 button{
    
    background-color: hsl(245, 75%, 52%);
    height: 50px;
    color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 14px;
}

.btn2 button{
    background-color:white ;
    color: grey;
}

body > div > div > div.content > div.plan > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
    margin-bottom: 5px ;
}





@media screen and (max-width:375px) {
    .box{
        width: 340px;
        height: 71%;
    }
    .content{
        padding: 20px 30px 0;
    }
    .content .caption{
        padding: 2px 9px 28px;
    }

    .plan{
        padding: 20px 10px;
    }

    .plan :nth-child(1){width: 70%;}
    .plan :nth-child(1) img{width: fit-content;}

    .plan :nth-child(2){width: 30%;justify-content: center;}
    body > div > div > div.content > div.plan > div:nth-child(1) > div:nth-child(1){
        width: 30%;
    }

    body{
        
        background-image: url('./images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-color: hsl(225, 100%, 96%);
        background-size: contain;
    }
}
