@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 3vw 5vw 6vw;
}
header {
  background-image: url("./images/bg-hero-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(193, 100%, 96%);
  margin-bottom: 100px;
}
header .row1 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

header .row1 button {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-weight: 700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

header img {
  width: 100%;
}

header .row1 div:first-child {
  width: 150px;
  padding-top: 10px;
}

header .row2 {
  display: flex;
  margin-top: 100px;
}

header .row2 .left-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5vw;
  position: relative;
  bottom: 20px;
}

header .row2 .left-section h1 {
  font-size: 2.5em;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 0;
}

header .row2 .left-section p {
  line-height: 30px;
  padding-bottom: 20px;
}

header .row2 .left-section button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 60px;
  font-weight: 700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: fit-content;
  padding: 20px 60px;
}

header .row2 .right-section {
  width: 55%;
}

.cards {
  padding-bottom: 0;
}

.card {
  display: flex;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  margin-bottom: 60px;
  border-radius: 25px;
}

.card img {
  width: 70%;
  padding: 2vw 0;
  padding-right: 3vw;
}

.card .content {
  width: 60%;
  padding: 8vw 7vw 10vw 12vw;
}

.card .content .caption {
  width: 70%;
  line-height: 30px;
  color: #808080b8;
}

.card .image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}

.popup div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  width: 50%;
  height: 200px;
  border-radius: 25px;
  text-align: center;
  padding: 40px;
  z-index: 3;
  background-color: white;
}

.popup button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 60px;
  font-weight: 700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: fit-content;
}

footer {
  position: relative;
  z-index: 1;
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding-top: 15vw !important;
}

footer .parent-section {
  display: flex;
}
footer .parent-section .section1 {
  width: 40%;
}

footer .parent-section .section1 img {
  margin-right: 20px;
  /*margin-bottom: 20px;*/
}

footer .parent-section .section1 div {
  padding: 20px 0;
}
footer .parent-section .section2 {
  width: 20%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .parent-section .section2 div,
footer .parent-section .section3 div {
  padding: 10px 0;
}
footer .parent-section .section3 {
  width: 20%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .parent-section .section4 {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

footer .section1 div:not(:first-child) {
  display: flex;
}

footer .parent-section div:not(:first-child) img {
  width: 25px;
}

footer .section5 {
  display: flex;
  margin-top: 30px;
  justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  header .row2 {
    flex-direction: column;
  }
  header .row2 .left-section,
  header .row2 .right-section {
    width: 100%;
  }

  header .row2 .left-section h1 {
    font-size: 1.5em;
  }

  header .row2 .left-section {
    text-align: center;
    align-items: center;
  }

  .card {
    flex-direction: column-reverse;
    padding: 40px;
  }
  .card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .card .content .caption {
    width: 100%;
  }
  .card .image {
    width: 100%;
  }

  .popup div {
    width: 70%;
    height: 150px;
  }

  footer.container {
    padding: 0 !important;
  }
  footer .parent-section {
    flex-direction: column;
    padding: 40px;
    padding-top: 200px;
    padding-bottom: 0;
  }
  footer .parent-section .section1 {
    width: 100%;
  }

  footer .parent-section .section1 img {
    margin-right: 20px;
    /*margin-bottom: 20px;*/
  }

  footer .parent-section .section1 div {
    padding: 20px 0;
  }
  footer .parent-section .section2 {
    width: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* align-items: center;*/
  }

  footer .parent-section .section2 div,
  footer .parent-section .section3 div {
    padding: 20px 0;
  }
  footer .parent-section .section3 {
    width: 100%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer .parent-section .section4 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  footer .parent-section .section4 img:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }
  footer .section1 div:not(:first-child) {
    display: flex;
  }

  footer .section5 {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 20px;
  }
}
